<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Regístrate</mat-card-title>
    <mat-card-subtitle>Ingresa tus datos para acceder</mat-card-subtitle>
    <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Repite tu Contraseña</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width-input" (click)="redirectToLogin()">Registrarme</button>
      <div class="account-existence">
        <span>¿Ya tienes una cuenta?</span><a mat-button class="login-link" (click)="redirectToLogin()">Inicia Sesión</a>
      </div>
    </form>
  </mat-card>
</div>


