/* login.component.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00933C; /* o cualquier color de fondo que prefieras */
}

.login-card {
  width: 100%;
  max-width: 350px;
  margin: 0 20px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

mat-card-title {
  font-size: 24px;
  color: #000000;
}

mat-form-field.full-width-input {
  width: 100%;
  margin-top: 10px;
}

mat-checkbox {
  margin: 10px 0;
}

.login-actions {
  display: flex;
  flex-direction: column;
}

button.full-width-input {
  margin-top: 20px;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

/* Estilos adicionales para los íconos y botones */
mat-icon {
  cursor: pointer;
}

button[mat-icon-button] {
  position: absolute;
  right: 0;
}
mat-card {
  border-radius: 17px; /* Ajusta esto para cambiar la curvatura */
  overflow: hidden; /* Asegura que el contenido interno no sobresalga */
}

/* Añade esto en tu archivo login.component.scss para aumentar la sombra del mat-card */
.login-container mat-card {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Ajusta estos valores como necesites */
}
/* Ajusta la posición del contenedor del icono dentro del mat-form-field */
.login-container .mat-form-field-suffix {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Establece la posición relativa en el mat-form-field para contener absolutamente el icono */
.login-container .mat-form-field-wrapper {
  position: relative;
}

/* Aplica Montserrat a todos los elementos dentro de login-container */
.login-container {
  font-family: 'Montserrat', sans-serif;
}

/* Personalizar más específicamente, si necesario */
.login-container mat-form-field {
  font-family: 'Montserrat', sans-serif;
}

.login-container button {
  font-family: 'Montserrat', sans-serif;
}

/* Puedes necesitar ajustar el tamaño de fuente y peso para cada tipo de texto */
.login-container h1,
.login-container mat-label,
.login-container button,
.login-container .mat-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Ajusta el peso de la fuente según sea necesario */
}

.login-container .mat-input-element {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Usualmente el texto de entrada es más ligero */
}
/* Aplica la fuente MuseoModerno al mat-card-title dentro de login-container */
.login-container mat-card-title {
  font-family: 'MuseoModerno', cursive; /* Asegúrate de usar 'cursive' como fallback apropiado */
  font-weight: 700; /* Ajusta el peso según el diseño deseado */
  font-size: 30px; /* Ajusta el tamaño según el diseño deseado */
}

.login-container mat-card-subtitle {
  font-family: 'MuseoModerno', cursive, bold; /* Asegúrate de usar 'cursive' como fallback apropiado */
  font-weight: 700; /* Ajusta el peso según el diseño deseado */
  font-size: 15px; /* Ajusta el tamaño según el diseño deseado */
  text-align: center;
  color: #000000;
}
/* Estilo para el mat-card */
.login-container mat-card {
  max-width: 450px; /* Ajusta esto al ancho deseado */
  width: 100%; /* Utiliza el 100% del ancho hasta el max-width */
  padding: 20px; /* Asegúrate de que el relleno interno sea el mismo en ambos */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho */
  margin: auto; /* Centra el card en el contenedor si es necesario */
  /* Puedes agregar una altura específica si es necesario */
}

/* Asumiendo que tienes una clase para el enlace de contraseña olvidada */
.login-container .password-reset-link {
  display: block; /* Hace que el enlace sea un bloque y lo coloca en su propia línea */
  text-align: right; /* Centra el enlace horizontalmente */
  margin-top: 5px; /* Ajusta este valor para mover el enlace hacia abajo o hacia arriba */
  margin-bottom: 16px; /* Ajusta este valor si necesitas más espacio debajo del enlace */
}
.login-container mat-checkbox {
  display: block; /* Hace que el enlace sea un bloque y lo coloca en su propia línea */
  margin-top: -42.8px; /* Ajusta este valor para mover el enlace hacia abajo o hacia arriba */
  margin-bottom: 16px; /* Ajusta este valor si necesitas más espacio debajo del enlace */
}
