.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.example-card {
  max-width: 600px;
  width: 100%;
  box-shadow: none;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.left-section {
  flex: 1;
  margin-left: 100px;
}

.right-section {
  margin-left: 1px;
  margin-right: 100px;
  margin-top: 40px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: -20px;
}

.title {
  background-color: white;
  padding: 10px;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
}

.change-plan-button {
  margin-left: 50px;
  color: white;
  background-color: #0066FF;
  padding: 1px 3px;
  font-size: 10px;
  height: 18px;
}
.name-input {
  margin-right: 100px; /* Ajusta el margen derecho del campo de nombre */
}
