.pay-ticket-container{
  margin: 100px;
  width: 1000px;
}

mat-label{
  font-style: italic;
}

mat-form-field{
  width: 300px
}

.select-container{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.select-container p{
  font-size: 20px;
}

#ticket-price{
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: #00933C;
}

.btn-container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}


