.sidenav-container {
  height: 100%;
  background: white;
}

mat-toolbar{
  height: 100px;
}

.sidenav-item .icon-btn{
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.sidenav {
  width: 300px;
  color: white;
}

.title-side-nav{
  font-size: 32px;
  font-family: "MuseoModerno", sans-serif;
  text-align: center;
  font-weight: bold;
  width: 100%;

}

.sidenav-btn{
  font-size: 16px;
  width: 250px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display:inline-block;
  text-align: left;
}

.sidenav-item{
  text-align: left;
}

.sidenav-btn-container{
  margin-top: 30px;
  display: grid;
  gap: 2rem;
}

.green-button {
  background-color: #00933C;
  color: white;
}
